.headerWrapper{
  border: 1px solid red;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  border:1px solid yellow;
  flex-grow: 1;
  width: 640px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  text-align: right;
}

.logo{
  background: url('https://www.imooc.com/static/img/index/logo2020.png') no-repeat center;
  width: 91px;
  height: 40px;
  background-size: 100%;
  margin-right: 16px;
}
